.input-group {
  position: relative;
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.input-group input {
  width: 100%;
  padding: 12px 10px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 6px;
  outline: none;
}

.input-group label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  background: white;
  padding: 0 5px;
  transition: 0.3s;
  pointer-events: none;
}

/* FLOAT EFFECT */
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: 0;
  font-size: 12px;
  color: #6200ee;
}

.loaderRemove {
  width: 24px;
  height: 24px;
  border: 4px solid #ffffff;
  border-top: 4px solid rgba(201, 11, 11, 1);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loaderSubmit {
  width: 24px;
  height: 24px;
  border: 4px solid #ffffff;
  border-top: 4px solid #119972;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.editFood:hover {
  background-color: #0f0f0f12;
  height: 15vh;
  width: 10vw;
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;

}

.skeleton {
  margin-top: 20px;
  width: 10vw;
  height: 22vh;        /* size of content */
 border-radius: 10px;
  background: linear-gradient(
    90deg,
    #eee 25%,
    #ddd 50%,
    #eee 75%
  );
  background-size: 200% 100%;   /* make it wider for sliding */
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}