.input-group {
  position: relative;
  width: 450px;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 35px;
}

.input-group input {
  width: 100%;
  padding: 12px 10px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 6px;
  outline: none;
  padding-left: 40px;
}

.input-group label {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  background: white;
  padding: 0 5px;
  transition: 0.3s;
  pointer-events: none;
}

/* FLOAT EFFECT */
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: 0;
  font-size: 12px;
  color: #6200ee;
}

.toast {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 40px;
  right: 40px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  z-index: 999;

  /* shadow for web */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

